html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: gray;
    bottom: 0;
}

#leftDiv {
    right: 75%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: lightblue;
    position: absolute;
}

#content {
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    background-color: wheat;
    position: absolute;
}

#rightDiv {
    top: 0;
    right: 0;
    left: 75%;
    background-color: lightgray;
    position: absolute;
    bottom: 0;
}